*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color:#424141;
    color: white;
    padding: 12px;
}

.logo img{
    width: 100px;
    padding: 10px;
}
.menubar{
    display: flex;
    list-style: none;
}

.item{
    margin-right: 15px;
    padding: 5px;
    font-size: 18px;
}
.container{
 display: flex;
 height: 100vh;
 background-image: url(./images/background.png);
 background-color:black;
}
.banner-img img{
    width: 300px;
}